<h1><%= @pet.name %></h3>

<h3>Here's your pet information</h3></br>

<h4>Food Level: <%= @pet.food_level %> </h4></br>
<h4>Sleep Level: <%= @pet.sleep_level %> </h4></br>
<h4>Activity Level: <%= @pet.activity_level %> </h4></br>

<form action="/pet" method="post">
  <button type="submit" class="btn" name="action" value="feed">Feed Pet</button>
  <input name="id" type="hidden" value="<%= @pet.id %> "/>
</form>
<form action="/pet" method="post">
  <button type="submit" class="btn" name="action" value="sleep">Sleep</button>
  <input name="id" type="hidden" value="<%= @pet.id %> "/>
</form>
<form action="/pet" method="post">
  <button type="submit" class="btn" name="action" value="play">Play</button>
  <input name="id" type="hidden" value="<%= @pet.id %> "/>
</form>
